<div class="container">
<h1 id="client_name">Client: <%= @identifier.capitalize %></h1>

<div id="client_stats">
<p><strong> Average Response Time Across All Payloads:</strong> <%= @client.average_response_time_for_client %> ms</p>
<p><strong>Max Response Time Across All Payloads: </strong><%= @client.max_response_time_for_client %> ms</p>
<p><strong>Min Response Time Across All Payloads: </strong><%= @client.min_response_time_for_client%> ms</p>
<p><strong>Most Frequent Request Type: </strong><%= @client.most_frequent_request_type_for_client%></p>
<p><strong>List of all HTTP Verbs: </strong><%= @client.all_http_verbs_for_client%></p>
<p><strong>List of URLs, most requested to least requested: </strong><%= @client.urls_for_client%></p>
<p><strong>Web browser breakdown across all payloads (browser => # of instances): </strong><%= @client.breakdown_browsers_client%></p>
<p><strong>OS breakdown across all payloads (OS => # of instances): </strong><%= @client.breakdown_os_client%></p>
<p><strong>Screen Resolutions across all payloads (Resolution dimensions [height,width] => # of instances): </strong><%= @client.resolutions_for_client%></p>
</div>

<div id="path">
  <h3> Relative Paths for <%=@identifier.capitalize %></h3>
  <% unique_urls = @urls.uniq %>
  <% unique_urls.each do |url| %>
    <a href="/sources/<%= @identifier %>/urls/<%=url.get_relative_path%>"><%=url.get_relative_path%></a></br>
  <% end %>
</div>
</div>
